{% extends 'algoritmo.html' %}


{% block content %}

<div>
  <h1 class="text-center">{% block title %}Métricas de distancia{% endblock %}</h1>

</div>

<form action="{{ url_for('metricas') }}" method="POST" class="row g-3 align-items-center">
  <div class="col-md-6">
    <label for="objeto1">Objeto 1</label>
    <input type="number" name="objeto1" id="objeto1" class="form-control" step="1" min="0" placeholder="Default es 0">
  </div>
  <div class="col-md-6">
    <label for="objeto2">Objeto 2</label>
    <input type="number" name="objeto2" id="objeto2" class="form-control" step="1" min="0" placeholder="Default es 1">
  </div>
  <div class="col-12">
    <input type="submit" value="Calcular distancia"
      class="btn btn-primary weirdga"
      onclick="return confirm('¿Los parámetros son correctos?')">
  </div>
</form>

<!-- <footer>
  <a href="metricas" class="btn btn-primary">Regresar a configuración del algoritmo metricas de distancia</a>
</footer> -->

{% endblock %}