<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesGlassmorphism.css" type="text/css">
    <title>Glassmorphism Card Hover Effect</title>
  </head>
  <body>

    <header>
      <nav class="nav-bar">
        <div class="nav-links" id="nav-links">
          <ul>
            <li>
              <a href="home" class="decor-link">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Home
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="about-me">
      <div class="about-box">
        <h1>Presentacion mamalona</h1>
      </div>
    </section>

    <section class="project-links" id="projects">
      <div class="project-box">
        <span></span>
        <div class="content">
          <h2>A priori</h2>
          <p>This is a project where we see an animation in an entire webpage.</p>
          <a href="apriori" rel="noreferrer">
            Usar algoritmo A priori
          </a>
        </div>
      </div>

      <div class="project-box">
        <span></span>
        <div class="content">
          <h2>A priori</h2>
          <p>This is a project where we see an animation in an entire webpage.</p>
          <a href="apriori" rel="noreferrer">
            Usar algoritmo A priori
          </a>
        </div>
      </div>
      
    </section>


  </body>
</html>