<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesIndex.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/glassmorphismLinks.css') }}">

  <script src="https://kit.fontawesome.com/eebe13f46c.js" crossorigin="anonymous"></script>

  <title>PALATIA INC.</title>
</head>
<body>

  <header>
    <nav class="nav-bar">
      <img src="../static/logos/Logo_Index.png" alt="logo" id="logo" height="280%" width="auto">
      <div class="nav-links" id="nav-links">
        <i class="far fa-window-close" onclick="hideMenu()"></i>
        <ul>
          <li>
            <a href="/" class="decor-link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Home
            </a>
          </li>
        </ul>
      </div>
      <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>
  </header>

  <section class="about-me">
    <div class="about-box">
      <h1>Con esta aplicación web se podrán utilizar distintos módulos que se fueron creando a lo largo del semestre para obtener resultados con el dataset correspondiente y los parámetros que se modifiquen para hacer comparaciones entre resultados.</h1>
    </div>
  </section>

  <section class="project-links" id="projects">
    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>A priori</h2>
        <p>Aquí podemos utilizar el algoritmo a priori, seleccionando parámetros y que nos arroje distintas reglas según estos.</p>
        <a href="apriori" rel="noreferrer">
          Usar algoritmo A priori
        </a>
      </div>
    </div>

    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Métricas de distancia</h2>
        <p>Aquí podemos obtener métricas de distancia, y obtener la distancia entre dos objetos.</p>
        <a href="metricas" rel="noreferrer">
          Usar algoritmo de Métricas
        </a>
      </div>
    </div>

    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Clusterización Jerárquica</h2>
        <p>Aquí podemos utilizar el algoritmo para hacer clúster jerárquico.</p>
        <a href="cluster" rel="noreferrer">
          Usar algoritmo de Clusterización Jerárquica
        </a>
      </div>
    </div>

    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Árboles de decisión</h2>
        <p>Aquí podemos utilizar el algoritmo de árboles de decisión.</p>
        <a href="arboles" rel="noreferrer">
          Usar algoritmo de Árboles de Decisión.
        </a>
      </div>
    </div>
    
    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Bosques aleatorios</h2>
        <p>Aquí podemos utilizar el algoritmo de bosques aleatorios.</p>
        <a href="bosques" rel="noreferrer">
          Usar algoritmo de Bosques Aleatorios.
        </a>
      </div>
    </div>

    <!-- <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Pronóstico RLM</h2>
        <p>Aquí podemos utilizar el algoritmo de Pronóstico RLM.</p>
        <a href="pronostico" rel="noreferrer">
          Usar algoritmo de Pronóstico RLM.
        </a>
      </div>
    </div> -->
    
  </section>

  <script src="../static/js/index.js"></script>
  <script>
    var navLinks = document.getElementById("nav-links");

    function showMenu() {
      navLinks.style.right = "0";
    }

    function hideMenu() {
      navLinks.style.right = "-700px";
    }
  </script>
</body>
</html>