<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesIndex.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/glassmorphismLinks.css') }}">

  <script src="https://kit.fontawesome.com/eebe13f46c.js" crossorigin="anonymous"></script>

  <title>PALATIA INC.</title>
</head>
<body>

  <header>
    <nav class="nav-bar">
      <div class="nav-links" id="nav-links">
        <i class="far fa-window-close" onclick="hideMenu()"></i>
        <ul>
          <li>
            <a href="/" class="decor-link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Home
            </a>
          </li>
        </ul>
      </div>
      <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>
  </header>

  <section class="about-me">
    <div class="about-box">
      <h1>Presentacion del proyecto, de mí, que sucede aquí, reglas de uso</h1>
    </div>
  </section>

  <section class="project-links" id="projects">
    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>A priori</h2>
        <p>This is a project where we see an animation in an entire webpage.</p>
        <a href="apriori" rel="noreferrer">
          Usar algoritmo A priori
        </a>
      </div>
    </div>

    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Métricas de distancia</h2>
        <p>This is a project where we see an animation in an entire webpage.</p>
        <a href="metricas" rel="noreferrer">
          Usar algoritmo de Métricas
        </a>
      </div>
    </div>

    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Clusterización Jerárquica</h2>
        <p>This is a project where we see an animation in an entire webpage.</p>
        <a href="cluster" rel="noreferrer">
          Usar algoritmo de Clusterización Jerárquica
        </a>
      </div>
    </div>

    <div class="project-box">
      <span></span>
      <div class="content">
        <h2>Pronóstico RLM</h2>
        <p>This is a project where we see an animation in an entire webpage.</p>
        <a href="pronostico" rel="noreferrer">
          Usar algoritmo de Pronóstico RLM
        </a>
      </div>
    </div>
    
  </section>
  



<!-- 
  <div id="menu">
    <div id="menu-items">
      <a class="menu-item" href="presentacion">Presentacion</a>
      <a class="menu-item" href="apriori">A priori</a>
      <a class="menu-item" href="metricas">Métricas</a>
      <a class="menu-item" href="cluster">Cluster</a>
      <a class="menu-item" href="pronostico">Pronostico</a>
    </div>
    <div id="menu-background-pattern"></div>
    <div id="menu-background-image"></div>
  </div> -->

  <script src="../static/js/index.js"></script>
  <script>
    var navLinks = document.getElementById("nav-links");

    function showMenu() {
      navLinks.style.right = "0";
    }

    function hideMenu() {
      navLinks.style.right = "-700px";
    }
  </script>
</body>
</html>